body{
    background-image: url('img/artist-musik8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* THE LOGO AND THE TEXTS */
.sign-in-container{
    display: grid;
    justify-content: center;
    text-align: center;
}
.sign-in-container h3{
    color: white;
    margin-top: -1px;
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
#signin-input{
    display: grid;
    justify-content: center;
    margin-right: 53.6rem;
    gap: 5rem;
}
.signin-priv{
    padding-left: 3rem;
    width: 450px;
    height: 80px;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.continue{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    /* margin-right: -20%; */
}
#envelope, #apple, #facebook, #twitter, #google{
    font-size: 30px;
        margin-left: -500px;  
        width: 50px; 
}
.agreed1{
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.agreed1 p{
    color: white;
    margin-top: -1rem;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.agreed1 h3{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 

}
.btn-signin{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    outline: none;
    border: none;
    color: black;
    background: lightblue;
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
#input1{
    background: aqua;
    border-radius: 4px;
}
#input2{
    background: rgb(6, 68, 68); 
    border-radius: 4px;
}
#input3{
    background: rgb(20, 20, 22);
    border-radius: 4px;
}
#input4{
    background: rgb(20, 20, 60);
    border-radius: 4px;
}
#input5{
    background: white;
    border-radius: 4px;
}